.navbar {
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  width: 150px;
}

.navbar-menu {
  display: flex;
  list-style: none;
  gap: 20px;
  color: #49557e;
  font-size: 18px;
}

.navbar-menu li {
  cursor: pointer;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 40px;
}

.navbar button {
  background: transparent;
  font-size: 16px;
  color: #49557e;
  border: 1px solid tomato;
  padding: 10px 30px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
}

.navbar button:hover {
  background-color: #fff4f2;
}

.navbar .active {
  padding-bottom: 2px;
  border-bottom: 2px solid #49557e;
}

.navbar-search-icon {
  position: relative;
}

.navbar-search-icon .dot {
  position: absolute;
  min-width: 10px;
  min-height: 10px;
  background-color: tomato;
  border-radius: 5px;
  top: -8px;
  right: -8px;
}

@media (max-width: 1050px) {
  .navbar .logo {
    width: 140px;
  }

  .navbar-menu {
    gap: 20px;
    font-size: 17px;
  }

  .navbar-right {
    gap: 30px;
  }

  .navbar-right img {
    width: 22px;
  }

  .navbar-right button {
    padding: 8px 25px;
  }
}

@media (max-width: 900px) {
  .navbar .logo {
    width: 120px;
  }

  .navbar-menu {
    gap: 15px;
    font-size: 16px;
  }

  .navbar-right {
    gap: 20px;
  }

  .navbar-right img {
    width: 20px;
  }

  .navbar-right button {
    padding: 7px 20px;
    font-size: 15px;
  }
}

@media (max-width: 750px) {
  .navbar-menu {
    display: none;
  }
}

.user-menu {
  position: relative;
  display: inline-block;
}

.user-name {
  cursor: pointer;
  font-size: 16px;
  color: #49557e;
  transition: color 0.3s;
}

.user-name:hover {
  color: tomato;
  /* Highlight username on hover */
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-items: center;
  gap: 10px;
}

.logout-button {
  width: 100%;
  background: none;
  border: none;
  color: #49557e;
  font-size: 16px;
  text-align: left;
  padding: 10px 15px;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
}

.logout-button:hover {
  background: #fff4f2;
  /* Light tomato background */
  color: tomato;
}

@media (max-width: 750px) {
  .dropdown-menu {
    right: auto;
    left: 0;
    /* Adjust position for smaller screens */
    width: 150px;
  }
}
.dropdown-item {
  padding: 10px;
  display: block;
  text-decoration: none;
  color: #000;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}
