body.no-scroll {
  overflow: hidden;
}

.login-popup {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #00000090;
  display: grid;
  background-color: rgba(0, 0, 0, 0.7);
}

.login-popup-container {
  place-self: center;
  width: max(35vw, 495px);
  color: #808080;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px 30px;
  border-radius: 8px;
  font-size: 14px;
  animation: fadeIn 0.5s;

}

.login-popup-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}

.login-popup-title img {
  width: 16px;
  cursor: pointer;
}

.login-popup-input {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login-popup-input input {
  outline: none;
  border: 1px solid #c9c9c9;
  padding: 10px;
  border-radius: 4px;
}

.login-popup-container button {
  border: none;
  padding: 10px;
  border-radius: 4px;
  color: white;
  background-color: tomato;
  font-size: 15px;
  cursor: pointer;
}

.login-popup-condition {
  display: flex;
  align-items: start;
  gap: 8px;
  margin-top: -15px;
}

.login-popup-condition input {
  margin-top: 5px;
}

.login-popup p span {
  color: tomato;
  font-weight: 500;
  cursor: pointer;
}



/* toast */

.password-container {
  position: relative;
  display: flex;
  align-items: center;
}

.password-container input {
  width: 100%;
  padding-right: 40px;
  /* Chừa không gian cho biểu tượng mắt */
}

.password-container span {
  position: absolute;
  right: 10px;
  /* Căn biểu tượng mắt sát bên phải */
  cursor: pointer;
  color: #aaa;
  /* Màu biểu tượng */
  font-size: 18px;
}

.password-container span:hover {
  color: #555;
  /* Thay đổi màu khi hover */
}